body {
  background-image: url(images/6-AADT_Photographed-by-Solwazi-Afi-Olusola-140.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

img{
z-index: -500%;
}

.akan p{
  font-family: 'Cute Font', cursive;
  font-size: 30px;
  color:whitesmoke;
}

h1{
  color:whitesmoke;
  font-family: 'Cute Font', cursive;
  text-decoration: underline;
}


.text{
  font-family: 'Cute Font', cursive;
  font-size:30px;
  color:whitesmoke;
}

.linc p{
  text-align: center;
  padding-left: 500px;
}